# Foldery z zależnościami
frontend/node_modules/
frontend/.angular

gm_app/app/configuration/__pycache__/
.idea
hugging_face_api.py
tmp/
temp/
gm_app/app/__pycache__/
gm_app/app/api/__pycache__/
